.idea
node_modules
.DS_Store
.eslintcache
*.log
packages/*/dist
packages/*/lib
dist
packages/nmr-learning/data/h_11.json
packages/nmr-learning/data/h_0.json
packages/nmr-learning/data/h_1.json
packages/nmr-learning/data/h_10.json
packages/nmr-learning/data/h_12.json
packages/nmr-learning/data/h_13.json
packages/nmr-learning/data/h_14.json
packages/nmr-learning/data/h_15.json
packages/nmr-learning/data/h_16.json
packages/nmr-learning/data/h_17.json
packages/nmr-learning/data/h_18.json
packages/nmr-learning/data/h_19.json
packages/nmr-learning/data/h_2.json
packages/nmr-learning/data/h_3.json
packages/nmr-learning/data/h_4.json
packages/nmr-learning/data/h_5.json
packages/nmr-learning/data/h_6.json
packages/nmr-learning/data/h_7.json
packages/nmr-learning/data/h_8.json
packages/nmr-learning/data/h_9.json
packages/nmr-learning/data/h_clean.json
packages/nmr-learning/data_old/h_1.json
packages/nmr-learning/data_old/h_0.json
packages/nmr-learning/data_old/h_10.json
packages/nmr-learning/data_old/h_11.json
packages/nmr-learning/data_old/h_12.json
packages/nmr-learning/data_old/h_13.json
packages/nmr-learning/data_old/h_14.json
packages/nmr-learning/data_old/h_15.json
packages/nmr-learning/data_old/h_2.json
packages/nmr-learning/data_old/h_3.json
packages/nmr-learning/data_old/h_4.json
packages/nmr-learning/data_old/h_5.json
packages/nmr-learning/data_old/h_6.json
packages/nmr-learning/data_old/h_7.json
packages/nmr-learning/data_old/h_8.json
packages/nmr-learning/data_old/h_9.json
