.idea
node_modules
.DS_Store
.eslintcache
*.log
packages/*/dist
packages/*/lib
dist

packages/nmr-learning/data/h*
packages/nmr-learning/data_old
packages/nmr-simulation/examples/cluster/spinus/
packages/nmr-simulation/examples/cluster/spinus
packages/nmr-simulation/examples/cluster/spinus/*
packages/nmr-simulation/examples/cluster/spinus/**
